<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text = "${person.getPersonName() + ',' + person.getPersonAge()}">VALUE</p>
<p th:text = "${person.getPersonId()}">VALUE</p>

<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <br/>
    <input type="submit" value="Delete"/>

</form>
</body>
</html>